
.visualizer {
    background-color: var(--background-colour);
    height: 50vh;
    display: flex;
}

.grid {
    margin: auto;
    width: min-content;
    border: 0 solid var(--grid-colour);
}

.grid.border {
    border-width: 0.05em;
}

.row {
    display: flex;
}