
.visualizer {
    background-color: var(--background-colour);
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    border: 0 solid var(--grid-colour);
}

.visualizer.border {
    border-width: 0.1em;
}

.grid {
    /* margin: auto; */
    width: min-content;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.grid.border {

}

.row {
    display: flex;
}