.visualizer {
  background-color: var(--background-colour);
  overflow: hidden;
  position: relative;
}

.grid {
  width: min-content;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: var(--grid-border-size) solid transparent;
}

.grid.border {
  border-bottom-color: var(--grid-colour);
  border-right-color: var(--grid-colour);
}

.row {
  display: flex;
}
