
.dropdown-button {
    position: relative;
}

.dropdown-backdrop {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.dropdown-container {
    position: absolute;
    width: 3em;
    height: fit-content;
    /* padding: 0.5em; */
    top: 0em;
    right: 0em;
    /* left: 0em; */
    transform: translateY(-100%) translateX(0%);
    background-color: black;
}

.dropdown-container .dropdown-menu {
    
}

.dropdown-container .dropdown-menu .dropdown-item {
    
}

.dropdown-container .dropdown-menu .dropdown-item.clickable {
    cursor: pointer;
}

.dropdown-container .dropdown-menu .dropdown-item:hover {
    background-color: red;
}