
.controller {
  background-color: var(--primary1-colour);
  width: 100vw;
}

.controls {
  padding: .5em;
  margin: auto;
  width: min-content;
  display: flex;
}

button {
  border: 0.1em solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--button-primary);
  cursor: pointer;
  border-radius: 20%;
  height: 3em;
  width: 3em;
  padding: 0;
  margin: 0.25em;
  transition: border-color 0.25s, background-color 0.25s;
}
button:hover {
  border-color: var(--button-border);
  /* background: var(--button-hover); */
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
  outline: none;
}

.separator {
  width: 1px;
  height: auto;
  background: linear-gradient(var(--primary1-colour), var(--primary2-colour), var(--primary1-colour));
  margin: 0 0.25em;
}