

.cell {
  width: 2em;
  height: 2em;
  box-sizing: border-box;
  border: 0 solid var(--grid-colour);
}

.cell.wall {
  background-color: rgb(12, 53, 71);
  animation-name: wallAnimation;
  animation-duration: 0.1s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.cell.source {
  background-color: green;
}

.cell.target {
  background-color: yellow;
}

.cell.border {
  border-width: 0.05em;
}

@keyframes wallAnimation {
  0% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(1);
  }
}