.cell-container {
  width: 2em;
  height: 2em;
}

.cell {
  width: 2em;
  height: 2em;
  position: absolute;
}

.cell.anti-border {
  box-sizing: border-box;
  border: 0 solid var(--background-colour);
  border-top-width: var(--grid-border-size);
  border-left-width: var(--grid-border-size);
}

.cell.animate {
  animation-duration: 0.1s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.cell.wall {
  background-color: rgb(12, 53, 71);
  animation-name: wallAnimation;
}

.cell.grass {
  background-color: rgb(98, 187, 90);
  animation-name: wallAnimation;
}

.cell.water {
  background-color: rgb(119, 180, 230);
  animation-name: wallAnimation;
}

.cell.source {
  background-color: green;
}

.cell.target {
  background-color: yellow;
}

.cell.border {
  box-sizing: border-box;
  border: 0 solid var(--grid-colour);
  border-top-width: var(--grid-border-size);
  border-left-width: var(--grid-border-size);
}

.cell-overlay {
  /* background-color: rgba(255, 0, 0, 0.671); */
}

.cell-overlay.visited {
  background-color: rgba(0, 190, 218, 0.5);
}

.cell-overlay.shortest {
  background-color: rgba(218, 0, 164, 0.5);
}

@keyframes wallAnimation {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
